[defaults]
roles_path = ./roles
inject_facts_as_vars = False

[ssh_connection]
# suppress "[WARNING]: Module invocation had junk after the JSON data:"
# Work around trailing output emitted by some Fedora SSH/module combinations.
# source: https://github.com/ansible/ansible/issues/86122#issuecomment-3677990618
pipelining = True
