[Unit]
Description=Map Copilot key to Right Ctrl
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=notify
ExecStart={{ keyboard_copilot_rightctrl_evsieve_install_path }} \
  --input {{ keyboard_copilot_rightctrl_input_device }} grab persist=reopen \
  --hook key:leftmeta key:leftshift key:f23 sequential period=0.050 send-key=key:rightctrl \
  --withhold key:leftmeta key:leftshift key:f23 \
  --output create-link={{ keyboard_copilot_rightctrl_output_device }} name={{ keyboard_copilot_rightctrl_service_name }}
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
