---
- name: Install baseline packages
  ansible.builtin.dnf:
    name: "{{ base_packages }}"
    state: present
    update_cache: true

- name: Remove unwanted packages (best effort)
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: absent
  loop: "{{ remove_packages_best_effort }}"
  failed_when: false

- name: Install desired packages (best effort)
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop: "{{ install_packages_best_effort }}"
  failed_when: false

- name: Configure global git settings
  become: false
  community.general.git_config:
    scope: global
    name: "{{ item.name }}"
    value: "{{ item.value }}"
  loop:
    - { name: "log.date", value: "iso" }
    - { name: "push.autoSetupRemote", value: "true" }
    - { name: "core.editor", value: "vim" }
    - { name: "init.defaultBranch", value: "main" }

- name: Ensure Flathub remote exists
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
