---
base_packages:
  - git
  - curl
  - wget
  - ca-certificates
  - tar
  - unzip
  - python3
  - python3-pip
  - dnf-plugins-core

remove_packages_best_effort:
  - deja-dup
  - aisleriot
  - evolution
  - nautilus-share
  - gnome-mahjongg
  - gnome-maps
  - gnome-mines
  - orca
  - gnome-sudoku
  - gnome-weather
  - transmission
  - gnome-tour
  - gnome-contacts
  - gnome-characters
  - gnome-connections
  - gnome-font-viewer
  - gnome-calendar
  - brasero
  - cheese
  - vino
  - simple-scan
  - shotwell
  - gnome-todo
  - telnet
  - malcontent
  - malcontent-control

install_packages_best_effort:
  - gimp
  - openssh-clients
  - openssh-server
  - gnome-commander
  - audacity
  - recoll
  - libxslt
  - texstudio
  - texlive-scheme-full
  - texlive-latex-extra
  - texlive-xetex
  - texlive-lang-german
  - gitk
  - git-lfs
  - vim
  - clamav
  - python3-tkinter
  - pwgen
  - ruby
  - rubygem-bundler
  - xsel
  - diffpdf
  - dictd
  - dict-gcide
  - dict-wn
  - autokey-gtk
  - hplip
  - hplip-gui
  - gnome-clocks
  - artha
  - xournalpp
  - poppler-utils
  - wv
  - catdoc
  - perl-librdf
  - unrtf
  - untex
  - unifont-fonts
  - obs-studio
  - nextcloud-client
  - keepassxc
  - flatpak
  - pdfarranger
  - nemo
  - nemo-fileroller
  - gnome-terminal
  - borgbackup
  - gnupg2
  - pinentry
