---
- name: Lab stack on Fedora
  hosts: localhost
  connection: local
  become: true

  vars_files:
    - ../host_vars/localhost.yml

  vars:
    target_user: "{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"
    target_home: "{{ lookup('ansible.builtin.env', 'HOME') if (ansible_env.SUDO_USER is not defined) else '/home/' + target_user }}"

  roles:
    - role: baseline # should include packages (except for those needed in the following roles)
      tags: [baseline]

    - role: ocrmypdf
      tags: [ocr]

    - role: virtualbox
      tags: [virtualbox]

    - role: docker
      tags: [docker]

    - role: quarto
      tags: [quarto]

    - role: chrome
      tags: [chrome]

    - role: vscode
      tags: [vscode]

    - role: desktop_gnome
      tags: [desktop]
